---
import config from '../../../.vitepress/toolbar-config.json'
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DS42EX6GLQ"
></script>
<script is:inline>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())

  gtag('config', 'G-DS42EX6GLQ')
</script>
<nav
  class="bg-tk-elements-topBar-backgroundColor transition-theme border-b border-tk-elements-app-borderColor flex max-w-full items-center p-3 px-4 min-h-[56px]"
>
  <div class="flex flex-1 font-semibold text-tk-elements-content-textColor">
    <slot name="logo" />
    <a href="https://remult.dev/" class="ms-2">{config.title}</a>
  </div>
  <div class="flex items-center text-tk-elements-content-textColor">
    <div class="flex items-center pr-2 mr-2 border-r-2">
      {
        config.themeConfig?.nav
          ?.filter((n) => n.link)
          .map((n: any) => (
            <div class="font-semibold mx-2">
              <a href={`https://remult.dev${n.link}`} class="ms-2">
                {n.text}
              </a>
            </div>
          ))
      }
    </div>
    <div class="flex items-center pr-2 mr-2 border-r-2">
      {
        config.themeConfig?.socialLinks?.map((socialLink: any) => (
          <div
            class={`mx-1 ${socialLink.icon === 'x' || socialLink.icon === 'youtube' ? 'hidden sm:block' : ''}`}
          >
            <a
              href={socialLink.link}
              aria-label={socialLink.ariaLabel}
              target="_blank"
              rel="noopener"
              class="flex items-center text-2xl text-tk-elements-topBar-iconButton-iconColor hover:text-tk-elements-topBar-iconButton-iconColorHover transition-theme bg-tk-elements-topBar-iconButton-backgroundColor hover:bg-tk-elements-topBar-iconButton-backgroundColorHover p-1 rounded-md"
            >
              {socialLink.icon === 'x' && (
                <div class="i-ri:twitter-x-fill w-1em h-1em" />
              )}
              {socialLink.icon === 'github' && (
                <div class="i-ri:github-fill w-1em h-1em" />
              )}
              {socialLink.icon === 'discord' && (
                <div class="i-ri:discord-fill w-1em h-1em" />
              )}
              {socialLink.icon === 'youtube' && (
                <div class="i-ri:youtube-fill w-1em h-1em" />
              )}
            </a>
          </div>
        ))
      }
    </div>
    <div class="flex items-center">
      <div class="mr-2">
        <slot name="open-in-stackblitz-link" />
      </div>
      <div>
        <slot name="theme-switch" />
      </div>
      <div>
        <slot name="login-button" />
      </div>
    </div>
  </div>
</nav>
